<%= form_for(@car) do |f| %>

<div class="row">
  <div class="span3">
      <%= f.label :make %>
      <%= f.text_field :make, class: 'input_field' %>
      <%= f.label :model %>
      <%= f.text_field :model, class: 'input_field' %>
      <%= f.label :transmission%>
      <%= f.select :transmission, ['automatic', 'manual'], {}, class: 'input_field' %>
      <%= f.label :fuel_id, "Fuel Type" %>
      <%= f.select(:fuel_id, Fuel.all.map {|f| [f.fuel_type, f.id]}, {}, class: 'input_field') %>
      <%= f.label :engine_capacity, "Engine Capacity" %>
      <%= f.text_field :engine_capacity, class: 'input_field'%>
      <%= f.label :colour %>
      <%= f.text_field :colour, class: 'input_field'%>
      <%= f.label :seats %>
      <%= f.text_field :seats, class: 'input_field' %>
      <%= f.label :doors %>
      <%= f.text_field :doors, class: 'input_field' %>
       <%= f.label :price, 'Price' %>
      <%= f.text_field :price, class: 'input_field'%>
  </div>
  <div class="span3">
      <%= f.label :body_id, 'Type' %>
      <%= f.select(:body_id, Body.all.map {|b| [b.body_type, b.id]}, {}, class: 'input_field') %>
      <%= f.label :interior %>
      <%= f.select :interior, ['leather', 'cloth'] , {}, class: 'input_field'%>
      <%= f.label :manufacture_date, 'Date of Manufacturer' %>
      <%= f.text_field :manufacture_date, class: 'input_field' %>
      <%= f.label :used, 'Pre-Owned' %>
      <%= f.select :used, [true, false] , {}, class: 'input_field'%>
      <%= f.label :sunroof, 'Sunroof' %>
      <%= f.select :sunroof, [true, false], {}, class: 'input_field' %>
      <%= f.label :option_pack, 'Option Pack' %>
      <%= f.select :option_pack, [true, false], {}, class: 'input_field' %>
       <%= f.label :image, 'Photo Name' %>
       <%= f.text_field :image, class: 'input_field' %>
       <%= f.label :website, "Manufacturer's Website"  %>
       <%= f.text_field :website, class: 'input_field' %>
      <%= f.submit submit_button_value %>
    </div>
  <%end%>
  <div class="span6">
    <% if @car.persisted? %>
      <%=image_tag @car.image, size: '300x225' %>
    <% end %>
  </div>




</div>
