<h2>Enter New Car Details</h2>

<%= form_for(@car) do |f| %>
  Make:
  <%= f.text_field :make %>
  Model:
  <%= f.text_field :model %>
  <br>
  Transmission:
  <%= f.select :transmission, ['automatic', 'manual'] %>
  Fuel Type:
  <%= f.select :fuel, ['petrol', 'diesel'] %>
  Engine Capacity:
  <%= f.text_field :engine_capacity%>
  <br>
  Colour:
  <%= f.text_field :colour%>
  Seats:
  <%= f.text_field :seats %>
  Doors:
  <%= f.text_field :doors %>
  <br>
  Vehicle Type:
  <%= f.select :vehicle_type, ['sedan', 'estate', 'coupe', 'cabriolet', 'hatch-back', 'SUV'] %>
  Interior:
  <%= f.select :interior, ['leather', 'cloth'] %>
  <br>
  Date of Manufacture:
  <%= f.text_field :manufacture_date %>
  <br>
  Pre-Owned:
   <%= f.select :used, [true, false] %>
   Sun-Roof:
   <%= f.select :sunroof, [true, false] %>
   Option Pack:
   <%= f.select :option_pack, [true, false] %>
   <br>
   Photo Name:
   <%= f.text_field :image %>
   Manufacturer's Website:
   <%= f.text_field :website %>
   <br>
   Price:
   <%= f.text_field :price%>
   <br>
    <%= f.submit "Add Car!" %>
<%end%>