<h2>
<%=@car.make %>:
<%= @car.model %>
<br>
<%= @car.engine_capacity %>L,
<%= @car.fuel.fuel_type%>,
<%= @car.transmission.capitalize %>
<br>
£<%= @car.price %>
<% if @car.used %>
  (used)
<%end%>
</h2>
Age:
<%= distance_of_time_in_words(Time.now, @car.manufacture_date) %>

<h3>
<%=image_tag @car.image, size: '300x225' %>
<br>
<%=@car.colour.capitalize %>
<%=@car.body.body_type %> with
<%=@car.interior %> interior
<br>
Doors: <%=@car.doors %>
<br>
Seats: <%=@car.seats %>
<br>
<% if @car.sunroof %>
Sunroof
<%end%>
<br>
<% if @car.option_pack %>
  Option Pack
<%end%><br>
Date of Manufacture:
<%=@car.manufacture_date %>
<br>
<%= link_to "Manufacturer's Website", @car.website %>
</h3>
<%= link_to 'Edit Car Details', edit_car_path(@car)%>
