<h2>
<%=@car.make %>:
<%= @car.model %>
</h2>
<h3>
<%= @car.engine_capacity %>L,
<%= @car.fuel.fuel_type%>,
<%= @car.transmission.capitalize %>
<br>
£<%= @car.price %>
<% if @car.used %>
  (used)
<%end%>
</h3>
<p>
Age:
<%= distance_of_time_in_words(Time.now, @car.manufacture_date) %>
</p>
<p>
<%=image_tag @car.image, size: '300x225' %>
</p>
<%=@car.colour.capitalize %>
<%=@car.body.body_type %> with
<%=@car.interior %> interior
</p>
<ul>
  <li>Doors: <%=@car.doors %></li>
  <li>Seats: <%=@car.seats %></li>
  <% if @car.sunroof %>
    <li>Sunroof</li>
  <%end%>
  <% if @car.option_pack %>
    <li>Option Pack</li>
  <%end%>
<li>Date of Manufacture:
<%=@car.manufacture_date %>
</li>
</ul>
<ul>
<li><%= link_to "Manufacturer's Website", @car.website %></li>

  <li><%= link_to 'Edit Car Details', edit_car_path(@car)%></li>
</ul>